<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>   
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_for_symbols.css"/>   
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> 
</head>
<header>
    <h1>Portfolio of <%= title %></h1>
  </header>
<nav>
    <%- include ('partials/headers'); %>
  </nav>
<body> 
    <main>
        <div style="text-align: right;">
            <button onclick="location.href='/portfolio/<%= portfolio._id %>/trade/stock'">Trade</button>
            <button onclick="location.href='/portfolio/<%= portfolio._id %>/manage'">Manage</button>
        </div>
        <br>
            <label for="clientName"><b>Client Name:</b> <%= portfolio.clientName %><br></label>
            <label for="clientDescription"><b>Client Description:</b> <%= portfolio.clientDescription %><br></label>
            <label for="fundManagerEmail"><b>Fund Manager Email:</b> <%= portfolio.fundManagerEmail %><br></label>

            <h3>Stock Symbols in Portfolio:</h3>
            <% portfolio.stockSymbols.forEach(stock => { %>
                <label>
                    <%= stock.symbol.symbol %>
                </label><br>
            <% }) %>
                    
            <h3>Crypto Symbols in Portfolio:</h3>
            <% portfolio.cryptoSymbols.forEach(crypto => { %>
                <label>
                    <%= crypto.symbol.symbol  %>
                </label><br>
            <% }) %>
    </main> 
</body>
</html>
