<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock: <%= symbol %></title>
        <link rel="stylesheet" type='text/css'href="/stylesheets/stylesheets.css">
    </head>
    <body>
        <nav>
            <%- include ('partials/headers'); %>
        </nav>
        <div class ='wrapper'>
            <h1>Daily Graph of <%= symbol%></h1>
            <div class = 'stockGraph'>
                <%- graphHtml %>
            </div>
            <form action="/AI/crypto/<%= symbol%>" method="POST">
                <button type="submit">AI insights</button>
            </form>
            <div class="stockInfo">
                <p>Company Name: <%= symbol%></p>
                <p>Adj. Close: <%= stockInfo['Adj Close'] %></p>
                <p>Close: <%= stockInfo['Close'] %></p>
                <p>High: <%= stockInfo['High'] %></p>
                <p>Low: <%= stockInfo['Low'] %></p>
                <p>Open: <%= stockInfo['Open'] %></p>
                <p>Volume: <%= stockInfo['Volume'] %></p>
                <!-- Display more stock info as needed -->
            </div>
            <a href='/crypto' class = 'return'><h4>Back to Crypto</h4></a>
        </div>
    </body>
</html>