<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>   
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_for_symbols.css"/>   
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Buy and sell</title>
</head>
<header>
    <h1><%= title %> Crypto for <%= portfolio.clientName %></h1>
</header>
<nav>        
    <%- include ('partials/headers'); %>
</nav>

<body>
    <button onclick="location.href='/portfolio/<%= portfolio._id %>/trade/stock'">Trade Stock</button>
    <main>
        
        <!-- Current Items Section -->
        <% if (boughtCrypto && boughtCrypto.length > 0) { %> 
        <section>
            <h1>Currently Owned Crypto</h1>
            
                <table border="1">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Price Bought At (€)</th>
                            <th>Current Price (€)</th>
                            <th>Quantity</th>
                            <th>Total Profit (€)</th>
                            <th>Profit (%)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% boughtCrypto.forEach(stock => { %>
                            <tr>
                                <td><a href="/stocks/detail/<%= stock.symbol.symbol %>"><%= stock.symbol.symbol %></a></td>
                                <td><%= stock.price.toFixed(2) %></td>
                                <td>
                                    <% const stockData = boughtListData[stock.symbol.symbol]; %>
                                    <% if (stockData) { %>
                                        <%= stockData.Close.toFixed(2) %>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </td>                                
                                <td><%= stock.quantity %></td>
                                <td>
                                    <% 
                                        const totalProfit = stockData ? (stockData.Close - stock.price) * stock.quantity : 0;
                                    %>
                                    <%= totalProfit.toFixed(2) %>
                                </td>
                                <td>
                                    <% 
                                        const profitPercentage = stockData ? (((stockData.Close - stock.price) / stock.price) * 100) : 0;
                                    %>
                                    <%= profitPercentage.toFixed(2) %>%
                                </td> 
                                <td>
                                    <form action="/portfolio/<%= portfolio._id %>/sell/crypto" method="POST">
                                        <input type="hidden" name="symbol" value="<%= stock.symbol._id %>">
                                        <button type="submit">Sell</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
        </section>
        <% } else { %>
            <h2>No Crypto Owned</h2>
        <% } %>
    </main>
    <main>
    
        <!-- Available Items Section -->
        <section>
            <h1>Available Crypto to Buy</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Current Price (€)</th>
                        <th>Volume</th>
                        <th>Growth (%)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let company in cryptoList) { %>
                        <tr>
                            <td><a href="/crypto/detail/<%= company.toUpperCase() %>"><%= company.toUpperCase() %></a></td>
                            <td><%= cryptoList[company].Close.toFixed(2) %></td>
                            <td><%= cryptoList[company].Volume %></td>
                            <td><%= (((cryptoList[company].Close - cryptoList[company].Open) / cryptoList[company].Open) * 100).toFixed(2) %>%</td>
                            <td>
                                <button onclick="location.href=`/portfolio/<%= portfolio._id %>/trade/crypto/<%= company.toUpperCase() %>`" type="submit">Buy</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>
   
</body>
</html>