<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Buy and sell</title>
</head>
<header>
    <h1><%= title %> Stock for <%= portfolio.clientName %></h1>
</header>
<nav>        
    <%- include ('partials/headers'); %>
</nav>

<body>
    <main>
        <button onclick="location.href='/portfolio/<%= portfolio._id %>/trade/crypto'">Trade Crypto</button>
        <!-- Current Items Section -->
        <section>
            <h2>Currently Owned Stocks</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price Bought At (€)</th>
                        <th>Quantity</th>
                        <th>Total Profit (€)</th>
                        <th>Profit (%)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% boughtStocks.forEach(stock => { %>
                        <tr>
                            <td><a href="/stocks/detail/<%= stock.symbol.symbol %>"><%= stock.symbol.symbol %></a></td>
                            <td><%= stock.price.toFixed(2) %></td>
                            <td><%= stock.quantity %></td>
                            <td>
                                <% 
                                    const stockData = boughtListData[stock.symbol.symbol]; // Directly access stock data using the symbol
                                    const totalProfit = stockData ? (stockData.Close - stock.price) * stock.quantity : 0;
                                %>
                                <%= totalProfit.toFixed(2) %>
                            </td>
                            <td>
                                <% 
                                    const profitPercentage = stockData ? (((stockData.Close - stock.price) / stock.price) * 100) : 0;
                                %>
                                <%= profitPercentage.toFixed(2) %>%
                            </td>
                            
                            <td>
                                <form action="/portfolio/<%= portfolio._id %>/sell" method="POST">
                                    <input type="hidden" name="symbol" value="<%= stock.symbol %>">
                                    <button type="submit">Sell</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>

        <!-- Available Items Section -->
        <section>
            <h2>Available Stocks to Buy</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Current Price (€)</th>
                        <th>Volume</th>
                        <th>Growth (%)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let company in stockList) { %>
                        <tr>
                            <td><a href="/stocks/detail/<%= company.toUpperCase() %>"><%= company.toUpperCase() %></a></td>
                            <td><%= stockList[company].Close.toFixed(2) %></td>
                            <td><%= stockList[company].Volume %></td>
                            <td><%= (((stockList[company].Close - stockList[company].Open) / stockList[company].Open) * 100).toFixed(2) %>%</td>
                            <td>
                                <button onclick="location.href=`/portfolio/<%= portfolio._id %>/trade/stock/<%= company.toUpperCase() %>`" type="submit">Buy</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>
   
</body>
</html>