<div class="wrapper">
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/rating.css"/>
    </head>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
      <%- include ('partials/headers'); %>
    </nav>
    <main>
        <body>
            <div class="rating-container">
                <h2>Rate Your Experience with Us</h2>
                <!--form-->
                <form action="/rating/submit-rating" method="POST">
                    <div class="rating-options">
                        <label>Rate us:</label><br>
                        <!--radio buttons for rating (1-5)-->
                        <% for (let i = 1; i <= 5; i++) { %> 
                            <input type="radio" id="rate<%= i %>" name="rating" value="<%= i %>" required>
                            <label for="rate<%= i %>"><%= i %></label>
                        <% } %>
                    </div>
                    <div class="comment-section">
                        <!--Comment text field-->
                        <label for="comment">Comments:</label><br>
                        <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Please leave your feedback here..."></textarea>
                    </div>
                    <!--submission button-->
                    <button type="submit">Submit</button>
                </form>
            </div>

        </body>

    </main>






